
@{
    ViewBag.Title = "Convert";
}

<h2>Convert</h2>

<div class="jumbotron">
    <h1>Converted Class:</h1>
    <div class="form-group">
        <label for="textarea">Example textarea</label>
        <textarea class="form-control" id="textarea" rows="@ViewBag.ResultRows ?? 3">@ViewBag.Result</textarea>
    </div>
</div>