@{
    ViewBag.Title = "XmlConverter";
}

<div class="jumbotron">
    <h1>XmlConverter</h1>
    <p class="lead">Hi! Use my tool to convert your xml to a c# class and its initialization for that object!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <input type="text">
            
        </input>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Convert!</a></p>
    </div>
    <div class="col-md-4">
        <h2>C# Class</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
    </div>
    <div class="col-md-4">
        <h2>Class initialization</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
    </div>
</div>